---
import CardProjects from "./CardProjects.astro"
---

<section class="mt-[200px] w-full h-[1200px] bg-graysmooth rounded-lg">
  <header class="w-full h-[90px] pt-[20px] px-[40px]">
    <div class="w-[full] h-[70px] bg-gradient-to-r from-boldsea to-crimson p-[1px] rounded-md">
      <div class="w-full h-full bg-puregray flex items-center justify-center pl-[10px] rounded-md">
        <h1 class="font-bold text-[30px] text-fontblue">Proyectos</h1>
      </div>
    </div>
  </header>
    <div class="w-full h-[1110px] rounded-lg flex flex-col items-center justify-center p-[40px] gap-[40px]">
      <CardProjects title="React Shop" img="Project2.png" link=""
      description="Una simulación de Ecommerce con React que cuenta con una lista y busqueda de productos. También cuenta con un carrito que permite gestionar la compra. Hecho en React con Custom Hooks, React Router, useReducer y useContext."/>
      <CardProjects title="Cybertruck Reveal" img="Project1.png" link="https://cybertruckreveal.netlify.app/"
      description="Una versión propia de la página de Cybertruck donde destaco habilidades como el maquetado web, funcionalidades de navegación y cambio de idioma general. Realizado en React, donde creo un Router desde cero."/>
    </div>
</section>