---
import CardProjects from "./CardProjects.astro"
---

<section class="mt-[200px] w-full h-[1200px] bg-graysmooth rounded-lg">
  <header class="w-full h-[90px] pt-[20px] px-[40px]">
    <div class="w-[full] h-[70px] bg-gradient-to-r from-boldsea to-crimson p-[1px] rounded-md">
      <div class="w-full h-full bg-puregray flex items-center justify-center pl-[10px] rounded-md">
        <h1 class="font-bold text-[30px] text-fontblue">Proyectos</h1>
      </div>
    </div>
  </header>
  <div class="w-full h-[1110px] p-[20px] flex justify-center">
    <div class="w-full h-full bg-boldsea3 rounded-lg p-6">
      <CardProjects />
    </div>
  </div>
</section>