---
import Socialbox from './Socialbox.astro'
---

<style>
  .gradientHover {
    transition: background 1s ease;
  }
  .gradientHover:hover {
    background: linear-gradient(to right, #ffffff, #000000);
  }
</style>

<section class="w-[100%] h-[450px] bg-graysmooth mt-[250px] rounded-lg
secondq:h-[380px] thirdq:h-[350px] thirdq:mt-[200px] fourthq:mt-[180px] fourthq:h-[280px] mobile:mt-[160px]">
  <div class="w-[100%] h-[100%] flex items-center gap-[32px] p-[32px]
  thirdq:gap-[24px] fourthq:gap-[14px] fourthq:p-[14px]">
    <picture class="w-[30%]
    fourthq:w-[40%]">
      <img class="w-[100%] rounded-[50%] border-solid border-[1px] border-boldsea" src={'profile-img.jpg'} alt="">
    </picture>
    <article class="w-[70%] text-white flex flex-col ">
      <h1 class="w-[97%] text-[50px] font-bold mb-3 border-b border-boldsea2
      secondq:text-[38px] thirdq:text-[30px] fourthq:text-[20px] mobile:text-[15px]">¡Hola!, Soy <span class="text-fontblue font-bold">Jorge Ferreyra</span></h1>
      <div class="flex items-center mb-6 gap-3
      thirdq:mb-3 mobile:mb-2">
        <h2 class="font-bold text-[30px] text-purpleoctopus
        thirdq:text-[20px] fourthq:text-[14px] mobile:text-[11px]">Desarrollador web</h2>
        <a class="flex items-center gap-1  bg-greendark rounded-[4px] p-[2px] opacity-[.7] z-10 cursor-pointer
        mobile:p-0 mobile:px-1 mobile:h-[10px]" href="mailto:jorxfer@gmail.com">
          <p class="text-[14px] text-greenlight
          thirdq:text-[12px] fourthq:text-[9px] mobile:text-[5px]">Disponible para trabajar</p>
          <img class="w-[18px]
          thirdq:w-[16px] fourthq:w-[12px] mobile:w-[8px]" src="send.svg" alt="">
        </a>
      </div>
      <p class="text-[17px] leading-7
      thirdq:text-[15px] fourthq:text-[12px] fourthq:leading-4 mobile:text-[10px]">Soy un estudiante de programación en la <span class="text-fontblue">Universidad Tecnológica Nacional</span>, me encanta el desarrollo web y crear las mejores experiencias para los usuarios. <br>
      Disfruto de programar tanto en el Frontend como el Backend, y de moldear productos que sean capaces de tener un impacto positivo en las personas.</p>
      <ul class="w-[100%] h-[50px] flex items-center gap-[14px]">
        <li class="w-[180px] h-[100%] flex items-center relative">
          <a class="z-[2] w-[100%] h-[60%] p-2 flex justify-center bg-black items-center rounded-lg absolute" href="">
            ¡Descarga mi CV! 
            <img class="z-[10] w-[28px] h-[28px] ml-[10px]" src="file-cv.svg" alt="">
          </a>
          <div class="z-[3] opacity-0 w-[100%] h-[60%] p-2 flex justify-center bg-gradient-to-r from-boldsea to-purpleoctopus items-center rounded-lg absolute transition-all duration-1000 ease-out hover:opacity-100 cursor-pointer">
            ¡Descarga mi CV!
            <img class="z-[10] w-[28px] h-[28px] ml-[10px]" src="file-cv.svg" alt="">
          </div>
          
        </li>
        <Socialbox svgWhite="github.svg" svgColor='github-color.svg' />
        <Socialbox svgWhite='linkedin.svg' svgColor='linkedin-color.svg' />
      </ul>
    </article>
  </div>
</section>