---

---

<section class="w-[55%] h-[450px] bg-graysmooth mt-[250px] rounded-lg">
  <div class="w-[100%] h-[100%] flex items-center gap-[32px] p-[32px]">
    <picture class="w-[30%]">
      <img class="w-[100%] rounded-[50%] border-solid border-[1px] border-boldsea" src={'profile-img.jpg'} alt="">
    </picture>
    <article class="w-[70%] text-white flex flex-col ">
      <h1 class="text-[50px] font-bold">¡Hola!, Soy <span class="text-fontblue">Jorge Ferreyra</span></h1>
      <div class="flex items-center mb-6 gap-3">
        <h2 class="font-bold text-[30px] text-purpleoctopus">Desarrollador web</h2>
        <div class="text-[14px] text-greenlight bg-greendark rounded-[4px] p-[2px] opacity-[.7] -z-10">Disponible para trabajar</div>
      </div>
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim obcaecati distinctio reiciendis commodi aliquam. Voluptatem inventore minima dolores quo, iure consequuntur ipsa accusantium. Similique, dignissimos commodi enim modi iste hic.</p>
    </article>
  </div>
</section>