---
interface Props {
  svgWhite: string,
  svgColor: string
}

const { svgWhite, svgColor }= Astro.props

---

<li class="list-none">
  <a class="w-[32px] h-[32px] flex items-center relative" href="">
    <img class="w-[100%] absolute z-[2] transition-all duration-500 ease-out hover:opacity-0" src={svgWhite} alt="">
    <img class="w-[100%] absolute z-[1]" src={svgColor} alt="">
  </a>
</li>