---

---

<section class="w-full h-[750px] mt-[200px] flex flex-col justify-between p-[50px] bg-graysmooth rounded-lg relative">
  <header class="w-full h-[140px] flex items-center justify-between z-10">
    <div class="w-[180px] text-center p-[10px] bg-boldsea4 rounded-lg">
      <h1 class="text-white font-bold text-[36px]">Sobre mí</h1>
    </div>
    <picture class="w-[140px] h-[140px] rotate-[30deg] z-10">
      <img class="w-full h-full rounded-full opacity-70 z-10" src="aboutme-img.JPG" alt="">
    </picture>
  </header>

  <article class="w-full h-[450px] p-[30px] bg-blacktransparent rounded-lg z-20">
    <p class="text-white">Desde que soy pequeño siempre me apasionó los avances de las tecnologías, me divertia mucho explorando la web y jugando videojuegos.
      Inconcientemente empezaba a notar ciertos patrones de diseño pero no les daba tanta importancia, aunque si las daba cuando la página tenia problemas de rendimiento
      o encontraba un bug en un juego.<br>
      Fue hasta hace pocos años que decidí adentrarme en este mundo, donde la creatividad y formas de diseñar y presentar un producto son la clave para satisfacer a usuarios.
      Desde entonces, me toca estar del otro lado de la pantalla para poner en práctica lo que aprendo. Me encanta el trabajo en equipo, ser participe de proyectos nuevos y
      explorar tecnologías emergentes. <br><br>

    </p>
  </article>
</section>