---

---

<section id="section-contact" class="w-full h-[500px] mt-[200px] flex flex-col items-center p-[30px] rounded-lg border-[1px] border-purpleoctopus3">
  <h1 id="title-contact" class="text-[30px]">Si llegaste hasta acá... <span class="font-bold text-purpleoctopus">¡Muchísimas gracias!</span></h1>
  <h2 id="subtitle-contact" class="text-[24px] mt-[20px] mb-[40px]">Si te interesó mi perfil, <span class="font-semibold">podes contactarme en:</span></h2>
  <div id="link-box-contact" class="w-full h-full rounded-lg grid grid-cols-3 grid-rows-2 gap-4 p-[10px]">

    <div id="box-contact" class="col-span-1 rounded-lg flex flex-col items-center justify-center relative
    transition-all duration-500 ease-out hover:shadow-crimsonshadow">
      <a id="text-box-contact" class="text-fontblue font-bold text-[30px]
      before:content-[''] before:absolute before:inset-0 before:cursor-pointer"
        href="mailto:jorxfer@gmail.com"
        target="_blank">Gmail
      </a>
      <img class="w-[80px] h-[80px]" src="gmail-color.svg" alt="">
    </div>

    <div id="box-contact" class="rounded-lg flex flex-col items-center justify-center relative
    transition-all duration-500 ease-out hover:shadow-crimsonshadow">
      <img class="w-[80px] h-[80px]" src="outlook-color.svg" alt="">
      <a id="text-box-contact" class="text-fontblue font-bold text-[30px]
      before:content-[''] before:absolute before:inset-0 before:cursor-pointer"
        href="mailto:jorge.ferreyra@alumnos.frgp.utn.edu.ar"
        target="_blank">Outlook
      </a>
    </div>

    <div id="box-contact" class="col-start-3 row-span-2 rounded-lg flex flex-col items-center justify-center gap-[10px] relative
    transition-all duration-500 ease-out hover:shadow-crimsonshadow">
      <a id="text-box-contact" class="text-fontblue font-bold text-[40px]
      before:content-[''] before:absolute before:inset-0 before:cursor-pointer"
        href="https://github.com/jorge-ferreyra"
        target="_blank">GitHub
      </a>
      <img class="w-[100px] h-[100px]" src="github-color.svg" alt="">
    </div>

    <div id="box-contact" class="col-span-2 rounded-lg flex justify-center items-center gap-[60px] relative
    transition-all duration-500 ease-out hover:shadow-crimsonshadow">
      <a id="text-box-contact" class="text-fontblue font-bold text-[50px]
      before:content-[''] before:absolute before:inset-0 before:cursor-pointer"
        href="https://www.linkedin.com/in/jorge-ferreyra-/"
        target="_blank">LinkedIn
      </a>
      <img class="w-[100px] h-[100px]" src="linkedin-color.svg" alt="">
    </div>
  </div>
</section>