---

---

<header class="w-full h-[100px] bg-transparent flex justify-center items-center fixed">
  <ul class="w-full h-[50px] list-none flex justify-center items-center p-0 relative">
    <li class="w-[25%] flex justify-center bg-graysmooth  rounded-xl">
      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all .2s ease-in-out hover:font-bold hover:text-boldsea" href="#">Inicio</a>

      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all .2s ease-in-out hover:font-bold hover:text-boldsea" href="#">Proyectos</a>

      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all .2s ease-in-out hover:font-bold hover:text-boldsea" href="#">Sobre mi</a>
      
      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all .2s ease-in-out hover:font-bold hover:text-boldsea" href="#">Contacto</a>
    </li>
    <li class="w-[140px] h-full flex justify-center items-center bg-lightsea rounded-xl absolute right-6
    transition-all duration-500 ease-in-out hover:bg-boldsea group">
      <img class="w-[60%] h-[60%]" src="moon-filled.svg" alt="">
      <button class="w-[60%] h-[50%] bg-ocean rounded-lg relative z-10 ">
        <span class="w-[15px] h-[15px] absolute left-1 top-[5px] rounded-sm bg-lightsea z-20 
        transition-all duration-500 ease-in-out group-hover:bg-boldsea"></span>
      </button>
      
      <img class="w-[60%] h-[60%]" src="sun-filled.svg" alt="">
    </li>
    
  </ul>
</header>
