---
import HandleTheme from './HandleTheme.astro'
---

<style>
  @keyframes blurItDark {
    to {
      background-color: rgba(86, 86, 253, .3);
      backdrop-filter: blur(6px);
      color: black;
    }
  }
  @keyframes blurItLight {
    to {
      background-color: rgba(54, 54, 173, 0.7);
      backdrop-filter: blur(6px);
      color: white;
    }
  }
  @keyframes changeColorDark {
    to {
      color: rgb(186, 196, 255);
    }
  }
  @keyframes changeColorLight {
    to {
      color: rgb(0, 0, 0);
    }
  }
  .animate-blurItDark {
    animation: blurItDark linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
  }
  .animate-blurItLight {
    animation: blurItLight linear both;
    animation-timeline: scroll(root block) ;
    animation-range: 0 100px;
  }
  .animate-textDark {
    animation: changeColorDark linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
  }
  .animate-textLight {
    animation: changeColorLight linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 100px;
  }
</style>

<header class="w-full h-[100px] bg-transparent flex justify-center items-center fixed z-30">
  <ul class="w-full h-[50px] list-none flex justify-center items-center p-0 relative
  thirdq:h-[40px] fourthq:justify-start fourthq:ml-6 mobile:ml-1">
    <li id="navbar" class="w-1/4 h-full flex justify-center items-center rounded-xl animate-blurItDark
    firstq:w-[30%] secondq:w-[40%] thirdq:w-[50%] fourthq:w-[68%]">
      <a id="navigate-anchor-intro" class="p-[12px] no-underline w-full text-lightsea text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-textDark
      thirdq:p-[8px] fourthq:text-[12px] fourthq:p-[11px] mobile:text-[10px] mobile:p-[12px]" href="#section-intro">Inicio</a>

      <a id="navigate-anchor-projects" class="p-[12px] no-underline w-full text-lightsea text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-textDark
      thirdq:p-[8px] fourthq:text-[12px] fourthq:p-[11px] mobile:text-[10px] mobile:p-[12px]" href="#section-projects">Proyectos</a>

      <a id="navigate-anchor-about" class="p-[12px] no-underline w-full text-lightsea text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-textDark
      thirdq:p-[8px] fourthq:text-[12px] fourthq:p-[11px] mobile:text-[10px] mobile:p-[12px]" href="#section-about">Sobre mí</a>
      
      <a id="navigate-anchor-contact" class="p-[12px] no-underline w-full text-lightsea text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-textDark
      thirdq:p-[8px] fourthq:text-[12px] fourthq:p-[11px] mobile:text-[10px] mobile:p-[12px]" href="#section-contact">Contacto</a>
    </li>
    <li id="card-theme" class="px-2 w-[140px] h-full flex justify-center items-center gap-2 rounded-xl absolute right-6 animate-blurItDark
    transition-all duration-500 ease-in-out group
    secondq:w-[120px] thirdq:w-[100px] mobile:right-2 mobile:w-[95px] mobile:px-[4px]">
    <p id="text-theme" class="absolute text-[11px] top-[-20px] left-[50%] translate-x-[-50%] font-bold opacity-0 transition-all duration-500 ease-out
    thirdq:top-[-20px] thirdq:text-[9px] group-hover:opacity-100">Temas</p>
    <div class="w-[30px] h-[30px] secondq:w-[22px] secondq:h-[22px] thirdq:w-[17px] thirdq:h-[17px] relative">
      <img id="moon-filled" class="w-full h-full transition-all duration-1000 ease-out" src="moon-filled.svg" alt="">
      <img id="moon" class="w-full h-full absolute top-0 left-0 transition-all duration-1000 ease-out" src="moon.svg" alt="">
    </div>
      <button aria-label="theme-button" id="button-theme" class="w-[48px] h-[50%] bg-ocean rounded-lg relative z-10 transition-all duration-500 ease-out
      secondq:w-[44px] thirdq:w-[34px] mobile:w-[37px]">
        <span aria-label="theme-button" id="span-theme" class="w-[15px] h-[15px] absolute left-[4px] top-[5px] rounded-sm bg-lightsea z-20
        transition-all duration-500 ease-in-out
        thirdq:h-[12px] thirdq:top-[4px] secondq:w-[12px]"></span>
      </button>
      
      <div class="w-[30px] h-[30px] secondq:w-[22px] secondq:h-[22px] thirdq:w-[17px] thirdq:h-[17px] relative">
        <img id="sun-filled" class="w-full h-full transition-all duration-1000 ease-out" src="sun-filled.svg" alt="">
        <img id="sun" class="w-full h-full absolute top-0 left-0 transition-all duration-1000 ease-out" src="sun.svg" alt="">
      </div>
      
    </li>
    
  </ul>
  <div id="backdrop" style=" border-radius: 12px; position: absolute; left: 50%; translateX: -50%; top: 0; width: 0; height: 0; transition: all .6s ease-out; overflow: hidden; opacity: 0; z-index: -10;"></div>
</header>

<HandleTheme />

<script>
  const navigateButton = document.querySelectorAll<HTMLElement>('header ul li a')
  navigateButton.forEach(anchor => {
    anchor.addEventListener('click', (e) => {
      e.preventDefault()
      const targetId = anchor.getAttribute('href')
      const targetElement = document.querySelector(targetId)
      if (targetElement instanceof HTMLElement) {
        window.scrollTo({ top: targetElement.offsetTop - 100, behavior: 'smooth' })
      }
    })
  })
</script>

<script>
  const listOfItems = document.querySelectorAll('header ul li a')
  const backdrop = document.querySelector('#backdrop') as HTMLElement;
  listOfItems.forEach(item => {
    item.addEventListener('mouseenter', () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      backdrop.style.left = `${left}px`;
      backdrop.style.top = `${top}px`;
      backdrop.style.width = `${width}px`;
      backdrop.style.height = `${height}px`;
      backdrop.style.opacity = '1';
      backdrop.style.overflow = 'visible';
    });

    item.addEventListener('mouseleave', () => {
      backdrop.style.opacity = '0';
      backdrop.style.overflow = 'hidden';
    });
  });
</script>
