---

---


<style>
  @keyframes blurIt {
    to {
      background-color: rgba(86, 86, 253, .3);
      backdrop-filter: blur(6px);
      color: black;
    }
  }
  @keyframes changeColor {
    to {
      color: rgb(0, 0, 18);
    }
  }
  .animate-blurIt {
    animation: blurIt linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  }
  .animate-text {
    animation: changeColor linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
  }
</style>

<header class="w-full h-[100px] bg-transparent flex justify-center items-center fixed z-30">
  <ul class="w-full h-[50px] list-none flex justify-center items-center p-0 relative
  fourthq:justify-start fourthq:ml-6 mobile:ml-1">
    <li class="w-1/4 h-full flex justify-center items-center bg-graysmooth rounded-xl hover:bg-boldsea3 animate-blurIt
    firstq:w-[30%] secondq:w-[40%] thirdq:w-[50%] fourthq:w-[68%]">
      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-text
      fourthq:text-[12px] fourthq:py-[15px]" href="#">Inicio</a>

      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-text
      fourthq:text-[12px] fourthq:py-[15px]" href="#">Proyectos</a>

      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-text
      fourthq:text-[12px] fourthq:py-[15px]" href="#">Sobre mí</a>
      
      <a class="p-[12px] no-underline text-lightsea w-full text-center
      transition-all ease-in-out hover:font-bold hover:text-boldsea animate-text
      fourthq:text-[12px] fourthq:py-[15px]" href="#">Contacto</a>
    </li>
    <li class="px-2 w-[140px] h-full flex justify-center items-center gap-2 bg-graysmooth2 rounded-xl absolute right-6 animate-blurIt
    transition-all duration-500 ease-in-out hover:bg-magicrose group
    secondq:w-[120px] thirdq:w-[100px] mobile:right-2 mobile:w-[95px] mobile:px-[4px]">
      <img class="w-[60%] h-[60%]
      secondq:w-[25%] thirdq:w-[20%]" src="moon-filled.svg" alt="">
      <button class="w-[80%] h-[50%] bg-ocean rounded-lg relative z-10
      secondq:w-[90%] thirdq:w-[100%]">
        <span class="w-[15px] h-[15px] absolute left-1 top-[5px] rounded-sm bg-lightsea z-20 
        transition-all duration-500 ease-in-out group-hover:bg-boldsea
        secondq:w-[12px]"></span>
      </button>
      
      <img class="w-[60%] h-[60%]
      secondq:w-[25%] thirdq:w-[20%]" src="sun-filled.svg" alt="">
    </li>
    
  </ul>
  <div id="backdrop" style=" border-radius: 6px; position: absolute; background-color: #D069FF14; left: 0; top: 0; width: 0; height: 0; transition: all .6s ease-out; overflow: hidden; opacity: 0; z-index: -10;"></div>
</header>

<script>
  const listOfItems = document.querySelectorAll('header ul li a')
  const backdrop = document.querySelector('#backdrop') as HTMLElement;
  listOfItems.forEach(item => {
    item.addEventListener('mouseenter', () => {
      const { left, top, width, height } = item.getBoundingClientRect();

      backdrop.style.left = `${left}px`;
      backdrop.style.top = `${top}px`;
      backdrop.style.width = `${width}px`;
      backdrop.style.height = `${height}px`;
      backdrop.style.opacity = '1';
      backdrop.style.overflow = 'visible';
    });

    item.addEventListener('mouseleave', () => {
      backdrop.style.opacity = '0';
      backdrop.style.overflow = 'hidden';
    });
  });
</script>
