---
import AstroIcon from "../Icons/AstroIcon.astro"
---

<footer id="section-footer" class="w-full h-[80px] pt-[1px] transition-all duration-500 ease-out">
  <div id="front-footer" class="w-full h-full flex flex-col justify-center items-center gap-[10px] pt-[1px] transition-all duration-500 ease-out">
    <h1 id="title-footer" class="font-semibold transition-all duration-500 ease-out">Página hecha por <span id="span-footer" class="font-bold transition-all duration-500 ease-out">Jorge Ferreyra</span></h1>
    <div class="flex justify-center items-center gap-[5px]">
      <h1 id="made-footer" class="transition-all duration-500 ease-out">Hecha con</h1>
      <AstroIcon class="w-[30px] h-[30px]" />
    </div>
    
  </div>
  
</footer>