---

---

<footer class="w-full h-[100px] bg-gradient-to-l from-purpleoctopus to-crimson pt-[1px]">
  <div class="w-full h-full bg-blacktransparent3 flex flex-col justify-center items-center gap-[10px] pt-[1px]">
    <h1 class="text-purpleoctopus font-semibold">Página hecha por <span class="text-crimson font-bold">Jorge Ferreyra</span></h1>
    <div class="flex justify-center">
      <h1 class="text-fontblue">Hecha con</h1>
      <img class="w-[30px] h-[30px]" src="astro.svg" alt="">
    </div>
    
  </div>
  
</footer>