---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="image" property="og:image" content="Preview.png">
		<link id="icon-web" rel="icon" href='code-dots.svg'>
		<style>
			@import 'tailwindcss/base';
			@import 'tailwindcss/components';
			@import 'tailwindcss/utilities';
	</style>
		<title>{title}</title>
	</head>
	<body class="w-full h-[4000px] relative
	firstq:h-[3910px] secondq:h-[3760px] thirdq:h-[3460px] fourthq:h-[3540px] mobile:h-[3280px]">
		<slot />
	</body>
</html>