---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="Este es mi portfolio en donde presento mis proyectos y mis habilidades. Soy un estudiante de programación en busca del desarrollo personal y profesional" />
		<meta name="robots" content="index, follow">
		<meta name="theme-color" content="rgb(2, 0, 19)">

		<meta name="image" property="og:image" content="Preview.png">
		<meta property="og:title" content="Portfolio de Jorge Ferreyra" >
		<meta property="og:description" content="Este es mi portfolio en donde presento mis proyectos y mis habilidades. Soy un estudiante de programación en busca del desarrollo personal y profesional" >

		<link rel="canonical" href="https://portfolio-jorge-ferreyra.netlify.app">
		<link id="icon-web" rel="icon" href='code-dots.svg'>
		<style>
			@import 'tailwindcss/base';
			@import 'tailwindcss/components';
			@import 'tailwindcss/utilities';
		</style>
		<title>{title}</title>
	</head>
	<body class="w-full h-[4000px] relative
	firstq:h-[3910px] secondq:h-[3760px] thirdq:h-[3460px] fourthq:h-[3540px] mobile:h-[3280px]">
		<slot />
	</body>
</html>